/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header, footer {
  background-color: #f8f9fa;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
  max-width: 800px;
}

h1, h2 {
  color: #333;
}

p {
  color: #666;
}


/* About Section */


.about-section {
  padding: 2em;
  max-width: 800px;
  margin: auto;
  text-align: center;
  line-height: 1.6;
}

.about-section h2 {
  color: #333;
  font-size: 2em;
}

.about-section p {
  color: #666;
  font-size: 1.2em;
  margin-top: 1em;
}

